<div id="todos">
  <% todos.forEach(todo => { %>
    <div class="todo-item" data-id="<%= todo.id %>">
      <input class="todo-checkbox" type="checkbox" <%= todo.complete ? "checked" : ""%>>
      <% if (todo.complete) { %>
        <strike><%= todo.title %></strike>
      <% } else { %>
        <input class="todo-item-update" value = "<%= todo.title %>"  style="background-color:transparent; border:none;">
      <% } %>
      <i class="todo-remove fa fa-remove"></i>
      <i class="todo-update fa fa-check"></i>
    </div>
  <% }) %>
</div>
